.login-input {
    width: 100%;
    margin: 0 0 10px 0;
}

.text-center {
    text-align: center;
}

.w200 {
    width: 200px;
}

.warning-text {
    color: red;
}

.new-input {
    width: 100%;
    margin: 10px 0;
}

.delete-form {
    display: inline-block;
}

.userdiv {
    margin: 10px 0;
    padding: 20px;
    border: 1px solid #000;
}

.userdiv:nth-child(odd) {
    background-color: #efefef;
}

.new-button {
    width: 100%;
    font-size: 20px;
    margin: 10px 0;
}

.search-input {
    width: 26%;
    padding: 5px;
}

.search-div {
    padding: 0;
    margin: 20px 0;
}